name: Release mSearch

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version (ex: 26.7.0)"
        required: true
        type: string

      prerelease:
        description: "Pré-release (bêta) ?"
        required: true
        type: boolean

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Tag
        run: |
          git tag v${{ inputs.version }}
          git push origin v${{ inputs.version }}

      - name: Création de la release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ inputs.version }}
          name: mSearch v${{ inputs.version }}
          prerelease: ${{ inputs.prerelease }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
